<div id="gitment-ctn"></div> 
<!--汉化-->

<link rel="stylesheet" href="//blogs.porterpan.top/gitment/link_src/gitment.css">
<script src="//blogs.porterpan.top/gitment/link_src/gitment.js"></script>

<!--
<link rel="stylesheet" href="gitment/gitment.css">
<script src="gitment/gitment.js"></script>
-->
<!--原型-->

<!-- <link rel="stylesheet" href="//imsun.github.io/gitment/style/default.css">
<script src="//imsun.github.io/gitment/dist/gitment.browser.js"></script> -->

<script>
var gitment = new Gitment({
  // id: "<%=url%>",
  id: 'page_s_blog_{{ date(page.date, "YYYY-MM-DD hh:mm:ss") }}',
  owner: '<%=theme.gitment.gitment_owner%>',
  repo: '<%=theme.gitment.gitment_repo%>',
  oauth: {
    client_id: '<%=theme.gitment_oauth.client_id%>',
    client_secret: '<%=theme.gitment_oauth.client_secret%>',
  },
})
gitment.render('gitment-ctn')
</script>
